{% extends "base.html" %}

{% block content %}


<div class='row'>
    <br class='col-sm-6 col-sm-offset-3'>
        {% for q in test %}
            {{quarter}}<br>
            {% for class in q %}
                {{class}}<br>
        {% endfor %}<hr>
        {% endfor %}
    </div>
</div>

<div id="footer">
    <h5><p><center>Address: 14 E Jackson Blvd, Chicago, IL-60604 | Phone Number: 123-456-7890</center></p></h5>
    <h5><p><center>Designed and built by Team 3 Copyright &copy; 2017-2020</center></p></h5>
</div>
    {% endblock %}