{% extends "base.html" %}

{% block content %}
<div class='row'>
    <img src='http://www.cdm.depaul.edu/ipd/publishingimages/DePaul-CDM-IPD-01.jpg' class='img-responsive'/>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>About Us</h1>
        <p>Teaching and learning are our priorities at DePaul. That might seem obvious, but we're the largest private university whose faculty members' priority is teaching. We're also the nation's largest Catholic university — and we're committed to an educational experience that weaves together mind, place, people and heart.</p>
        <p>DePaul has more than 300 graduate programs, so chances are good we have what you're looking for. Many of our professors work in Chicago as consultants, researchers and entrepreneurs, and incorporate their experiences in the classroom.</p>

        <h2 class="text-blue--med text-center">In the Heart of Chicago</h2>
        <p>DePaul has one campus in Chicago's business district and another in Lincoln Park. Chicago itself is an ideal classroom — and we take full advantage of it.</p>
        <li>Thousands of internship opportunities</li>
        <li>More than 100,000 alumni in the metro area</li>
        <li>Connections that impact your education and career opportunities</li>
    </div>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<div id="footer">
    <h5><p><center>Address: 14 E Jackson Blvd, Chicago, IL-60604 | Phone Number: 123-456-7890</center></p></h5>
    <h5><p><center>Designed and built by Team 3 Copyright &copy; 2017-2020</center></p></h5>
</div>
    {% endblock %}